# Ignore everything by default
*

# Keep git/meta files
!.gitignore
!README.md
!index.html
!_redirects

# Keep CSS and JS folders AND their contents
!css/
!css/**

!js/
!js/**

# Ignore IDE junk
.idea/
.vscode/
