# Ignore everything by default
*

# Keep git/meta files
!.gitignore
!README.md
!index.html
!404.html
!_redirects
!robots.txt
!sitemap.xml

# Keep CSS and JS folders AND their contents
!css/
!css/**

!js/
!js/**

!img/
!img/**

!data/
!data/**

# Ignore IDE junk
.idea/
.vscode/
